# Lab 29: Python Sets

First read Section 9.2 of the textbook or this won't make any sense to you.

## Exercise 29-1

Since sets contain unique elements, write a small script that will attempt to add several elements to a set that are the same and several that are different. Use a for loop to iterate over and output the set. Verify that the set doesn't contain duplicates.

In [1]:
the_set = {i for i in range(10)} # 0 to 9

for i in range(7, 13): # 7 to 12
    the_set.add(i) # adds the numbers 7-12 to the set

values_in_set = []
dupes = [] # holds the duplicate values
all_unique = True
for el in the_set:
    print(el)
    if el in values_in_set:
        all_unique = False
        dupes.append(el)
    else:
        values_in_set.append(el)
if all_unique:
    print('all values are unique')
else:
    print('duplicates found')
    print(dupes)

0
1
2
3
4
5
6
7
8
9
10
11
12
all values are unique

## Exercise 29-2

Using set comprehension, create a set of 25 random numbers in the range 1-75. Use a for loop to print.

Create a second set of 25 randoms 1-75, and print with a for loop.

Sample output:

    7 11 13 18 29 33 34 38 39 40 44 46 48 52 56 57 62 63 65 71 72 
    2 4 6 12 17 18 24 32 36 38 41 42 47 51 56 59 60 63 68 74

In [5]:
import random
SIZE, RAND_MIN, RAND_MAX = 25, 1, 75

set1 = {random.randint(RAND_MIN, RAND_MAX) for _ in range(SIZE)}
set2 = {random.randint(RAND_MIN, RAND_MAX) for _ in range(SIZE)}

for val in set1:
    print(val, end=' ')
print() # spacer
for val in set2:
    print(val, end=' ')

3 4 5 19 20 35 36 41 42 45 47 49 50 51 53 61 64 67 74 75
2 3 6 8 12 21 25 29 31 34 43 46 47 48 49 60 61 64 69 72 73

## Exercise 29-3

With these two sets, determine and output the union, intersection, difference, and symmetric difference between the sets.

Sample output:

    Union: 
    {2, 4, 6, 7, 11, 12, 13, 17, 18, 24, 29, 32, 33, 34, 36, 38, 39, 40, 41, 42, 44, 46, 47, 48, 51, 52, 56, 57, 59, 60, 62, 63, 65, 68, 71, 72, 74}

    Intersection: 
    {56, 18, 38, 63}

    Difference: 
    {33, 34, 65, 7, 39, 40, 71, 11, 44, 13, 46, 72, 48, 52, 57, 29, 62}

    Symmetric difference: 
    {65, 2, 4, 68, 6, 7, 71, 72, 74, 11, 12, 13, 17, 24, 29, 32, 33, 34, 36, 39, 40, 41, 42, 44, 46, 47, 48, 51, 52, 57, 59, 60, 62}

In [7]:
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set1.symmetric_difference(set2))

{2, 3, 4, 5, 6, 8, 12, 19, 20, 21, 25, 29, 31, 34, 35, 36, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 53, 60, 61, 64, 67, 69, 72, 73, 74, 75}
{64, 3, 47, 49, 61}
{35, 4, 5, 36, 67, 41, 42, 74, 75, 45, 50, 19, 20, 51, 53}
{2, 4, 69, 6, 5, 8, 72, 73, 67, 12, 74, 75, 19, 20, 21, 25, 29, 31, 34, 35, 36, 41, 42, 43, 45, 46, 48, 50, 51, 53, 60}