# Lab 21: List Functions and Methods

#### First, read sections 7.5 and 7.6 of the textbook before proceeding with this lab.

## Adding a list element: list.append()

Lists can grow in size and don't always have to be initialized to a certain size. You can create an empty list, and simply append elements to it. This makes the size of the list grow as needed. Remember that len(list) will always return the list's current size.

This code will append SIZE random numbers to a list.

In [1]:
import random
SIZE = 20
numbers = []   # create the empty list
for i in range(SIZE):
    numbers.append(random.randint(10,50))
print(numbers)

[12, 18, 14, 13, 11, 29, 48, 38, 25, 41, 38, 49, 10, 48, 34, 15, 27, 39, 34, 36]

## 21-1 ==================

A string behaves like a list. If we have a string 'name' containing 'Jennifer', we can actually reference individual letters through list indexing. name[0] refers to 'J', name[i] refers to 'e', and so forth. Try this code below to demonstrate this behavior.

In [2]:
name = 'Jennifer'
for i in range(len(name)):
    print(name[i], '  ', end='')

J   e   n   n   i   f   e   r

Write a program that will randomly select ten (use a constant) letters from the string 'letters' below, and store them in their own list. Output the list natively for confirmation. Sample output:

    ['v', 'i', 'q', 'z', 'd', 'd', 'b', 'o', 'n', 'm']

In [3]:
# run this statement first
letters = 'abcdefghijklmnopqrstuvwxyz'

In [4]:
# code in this cell

['a', 'o', 'a', 'n', 'j', 't', 'x', 'g', 'a', 'c']

## Removing a List Element: list.remove(item)

Remove an element with list.remove(item), where 'item' is the element to be removed...not the index number, the element. This method will then remove the FIRST INSTANCE of 'item' that it finds in the list. 

Here's a list of values. Let's remove the first instance of 12:

In [5]:
values = [12,23,34,45,56,56,67,78,89,97,86,75,64,53,42,31,20,12]
print(values)
values.remove(12)
print(values)

[12, 23, 34, 45, 56, 56, 67, 78, 89, 97, 86, 75, 64, 53, 42, 31, 20, 12]
[23, 34, 45, 56, 56, 67, 78, 89, 97, 86, 75, 64, 53, 42, 31, 20, 12]

## Confirming if a List Contains an Item: list.count()

If we try removing an item that's not in the list. we get an error message back from the Python interpreter. A common practice is to use list.count() first to confirm the existance of the item in the list. If the count comes back as 1 or greater, we know there's at least one of those items in the list. We place a guard against the error this way.

Run this code to see the error:

In [6]:
values = [12,23,34,45,56,56,67,78,89,97,86,75,64,53,42,31,20,12]
print(values)
values.remove(999)
print(values)

[12, 23, 34, 45, 56, 56, 67, 78, 89, 97, 86, 75, 64, 53, 42, 31, 20, 12]

ValueError: list.remove(x): x not in list

Run this code to see how we place the guard:

In [7]:
values = [12,23,34,45,56,56,67,78,89,97,86,75,64,53,42,31,20,12]
print(values)

# try removing 999
term = 999
if values.count(term) > 0:
    values.remove(term)
    print(f'{term} was removed from the list.')
else:
    print(f'{term} was not found in the list.')
    
# try removing 45
term = 45
if values.count(term) > 0:
    values.remove(term)
    print(f'{term} was removed from the list.')
else:
    print(f'{term} was not found in the list.')

[12, 23, 34, 45, 56, 56, 67, 78, 89, 97, 86, 75, 64, 53, 42, 31, 20, 12]
999 was not found in the list.
45 was removed from the list.

### We can also use the IN operator

Note that this .count() method works great and is another tool for us. We can also use the IN operator to ensure that the value is in the list before we try removing it.

## 21-2 ==================

Use IN rather than the list.count() method.

Use this list provided. Present the list to the user. Ask them which item they'd like to remove. If the item's in the list, remove it; otherwise display an appropriate message back to the user. Sample output from separate program runs:

    Jan  Jed  Jax  Joo  Jiu  Jef  Jen  Job  Jon  Jeb  Which name to remove? Joo
    Joo was removed from the list.
    
    Jan  Jed  Jax  Jiu  Jef  Jen  Job  Jon  Jeb  Which name to remove? Jqk
    Jqk was not in the list.

In [8]:
# run this cell first
names = ['Jan','Jed','Jax','Joo','Jiu','Jef','Jen','Job','Jon','Jeb']

In [9]:
# write your code in this cell

Jan  Jed  Jax  Joo  Jiu  Jef  Jen  Job  Jon  Jeb  Which name to remove? Jax
Jax was removed from the list.

## Finding the Index of an Item: list.index(item)

In the code above, we tried removing 45 and were successful. Let's add code that also reports WHERE in the list the item was found. list.index(item) will return the index number of 'item'. We want this output:

    45 was removed from the list at index 3.

In [10]:
values = [12,23,34,45,56,56,67,78,89,97,86,75,64,53,42,31,20,12]
print(values)

# try removing 999
term = 999
if term in values:
    index = values.index(term)
    values.remove(term)
    print(f'{term} was removed from the list at index {index}.')
else:
    print(f'{term} was not found in the list.')
    
# try removing 45
term = 45
if term in values:
    index = values.index(term)
    values.remove(term)
    print(f'{term} was removed from the list at index {index}.')
else:
    print(f'{term} was not found in the list.')

[12, 23, 34, 45, 56, 56, 67, 78, 89, 97, 86, 75, 64, 53, 42, 31, 20, 12]
999 was not found in the list.
45 was removed from the list at index 3.

## 21-3 ==================

Update your 10-2-2 code to also report the index number that a removed search term was located:

    Jan  Jed  Jax  Jiu  Jef  Jen  Job  Jon  Jeb  Which name to remove? Jax
    Jax was removed from the list at index 3.

In [11]:
# write your code in this cell

Jan  Jed  Jax  Joo  Jiu  Jef  Jen  Job  Jon  Jeb  Which name to remove? Jef
Jef was removed from the list at index 3.

## Inserting an Item into a List: list.insert(index, item)

This method inserts the item at the specified index. The order of the arguments is index first, then item. 

This method is different from list.append() which will insert the item at the end of the list. 

If the index number entered is beyond the list's bounds, the item will be appended to the end of the list.

Run this code to demonstrate:

In [12]:
values.insert(10, -9999)
print(values)

[12, 23, 34, 56, 56, 67, 78, 89, 97, 86, -9999, 75, 64, 53, 42, 31, 20, 12]

## 21-4 ==================

Reset your names list with:

    names = ['Jan','Jed','Jax','Joo','Jiu','Jef','Jen','Job','Jon','Jeb']

Ask the user for a name they'd like to insert, as well as the index number. Sample output:

    ['Jan', 'Jed', 'Jax', 'Joo', 'Jiu', 'Jef', 'Jen', 'Job', 'Jon', 'Jeb']
    What name do you want to insert? Juk
    Enter 1 to insert as new 1st position, 2 for new 2nd, etc.: 5
    ['Jan', 'Jed', 'Jax', 'Joo', 'Juk', 'Jiu', 'Jef', 'Jen', 'Job', 'Jon', 'Jeb']

In [13]:
# write your code in this cell
names = ['Jan','Jed','Jax','Joo','Jiu','Jef','Jen','Job','Jon','Jeb']
print(names)

['Jan', 'Jed', 'Jax', 'Joo', 'Jiu', 'Jef', 'Jen', 'Job', 'Jon', 'Jeb']
What name do you want to insert? Jqk
Enter 1 to insert as new 1st position, 2 for new 2nd, etc.: 4
['Jan', 'Jed', 'Jax', 'Jqk', 'Joo', 'Jiu', 'Jef', 'Jen', 'Job', 'Jon', 'Jeb']

## Removing a List Element: del

Use the delete statement, del, to delete a specific list element, referred to by an index number. For example,

    del values[4]

...will delete the fifth element in the values list. Use this when you have an index number that you want to delete.

#### Fun Fact

The del statement is just that -- a Python statement. It's not a Python function, and it's not a method specific to lists like .append() or .remove().

This code will remove that -9999 that we just inserted above.

In [14]:
del values[10]
print(values)

[12, 23, 34, 56, 56, 67, 78, 89, 97, 86, 75, 64, 53, 42, 31, 20, 12]

## Lists Can Be Sorted: list.sort()

Sort any list with list.sort():

In [15]:
values.sort()
print(values)

[12, 12, 20, 23, 31, 34, 42, 53, 56, 56, 64, 67, 75, 78, 86, 89, 97]

## Lists Can Be Reversed: list.reverse()

Just like the name says:

In [16]:
values.reverse()
print(values)

[97, 89, 86, 78, 75, 67, 64, 56, 56, 53, 42, 34, 31, 23, 20, 12, 12]

## Finding the Max/Min Value in a List: min(list) and max(list)

This is a Python function: min(list) that takes a list as an argument. It returns the minimum value in the list. 

Same for max(list).

In [17]:
print(f'Max value: {max(values)}')
print(f'Min value: {min(values)}')

Max value: 97
Min value: 12

## Finding the Sum in a List: sum(list)

sum(list) returns the sum. Since we know the length of the list, we can calculate the average. Run this example:

In [18]:
print(f'Sum of values list: {sum(values)}')
print(f'Avg of values list: {sum(values)/len(values):.2f}')

Sum of values list: 895
Avg of values list: 52.65

## COPYING LISTS -- THIS IS SUPER IMPORTANT

Due to Python programming properties, which are all of course intentional, if we try coping one list to another using conventional approaches, we will run into trouble.

Suppose we have this list:

    cities = ['Atlanta','Boston','Philadephia','San Francisco']
    
Also suppose we want to make a copy of this list, so we can edit the copy while retaining the original for safekeeping:

    temp_cities = cities

Here's the problem. 'cities' and 'temp_cities' actually refer to the exact same list in memory. It's just as though there's a new name pointing to the same list. 

To demonstrate this, I'll reassign one element in 'cities', and we'll see that change apparent when we print 'temp_cities'. This means we altered 'temp_cities' without directly accessing the 'temp_cities' list! That's bad!

In [19]:
cities = ['Atlanta','Boston','Philadephia','San Francisco']
# try to copy the list to a new list
temp_cities = cities
# modify second element in 'cities' list
cities[1] = 'Charleston'
# note how 'Charleston' appears in 'temp_cities' list
print(temp_cities)
# this is very bad

['Atlanta', 'Charleston', 'Philadephia', 'San Francisco']

There are two workarounds for this behavior. One is a for loop that can iterate over the list and append:

In [20]:
cities = ['Atlanta','Boston','Philadephia','San Francisco']
# create a new list that's empty
temp_cities = []
# append elements to the new list
for item in cities:
    temp_cities.append(item)
# modify second element in 'cities' list
cities[1] = 'Charleston'
# note how 'Charleston' doesn't appear
print(temp_cities)

['Atlanta', 'Boston', 'Philadephia', 'San Francisco']

#### This is the more popular workaround

The other more popular workaround is to just create an empty list and append the target list to it:

    temp_cities = [] + cities

In [21]:
cities = ['Atlanta','Boston','Philadephia','San Francisco']
# copy lists
temp_cities = [] + cities
# modify second element in 'cities' list
cities[1] = 'Charleston'
# note how 'Charleston' doesn't appear
print(temp_cities)

['Atlanta', 'Boston', 'Philadephia', 'San Francisco']

## Parallel Lists

You can keep two lists in synchronization to represent various attributes that are related. For example, let's say we have a collection of cars. In one list we could store the car manufacturers such as 'Toyota'. In another list, we keep the years they were manufactured. 

Corresponding list elements refer to the same car:

    cars[0] is the manufacturer 'Mazda' and years[0] is the year it was made

## 21-5 ==================

See the next cell and run it to load the two lists into memory. These lists represent a car collection. The list 'cars' represents the vehicle manufacturer. The 'years' list represents the years they were made. Corresponding list elements refer to the same car.

Output the car collection in the format shown in the sample output.

Then ask the user to enter the **name only** of the car they'd like to remove from the collection.

Then remove that car using list.remove(), as well as the corresponding year entry in the 'years' list. You'll have to obtain the index number with list.index() and use that to delete the correct element in 'years'.

Then output the resulting list, showing the removed car.

Sample output:

    ***Car Collection***
           Mazda : 2020
          Toyota : 1998
           Lexus : 2015
           Dodge : 2004
      Volkswagen : 2015
            Ford : 2009
          Nissan : 2022
    Which car do you want to delete? Enter the name only: Dodge
    Dodge was removed from the list at index 3.
           Mazda : 2020
          Toyota : 1998
           Lexus : 2015
      Volkswagen : 2015
            Ford : 2009
          Nissan : 2022

In [22]:
# run this cell first to load the list into memory
cars = ['Mazda','Toyota','Lexus','Dodge','Volkswagen','Ford','Nissan']
years = [2020,1998,2015,2004,2015,2009,2022]
print(cars)
print(years)

['Mazda', 'Toyota', 'Lexus', 'Dodge', 'Volkswagen', 'Ford', 'Nissan']
[2020, 1998, 2015, 2004, 2015, 2009, 2022]

In [23]:
# write your code in this cell

***Car Collection***
       Mazda : 2020
      Toyota : 1998
       Lexus : 2015
       Dodge : 2004
  Volkswagen : 2015
        Ford : 2009
      Nissan : 2022
Which car do you want to delete? Enter the name only: Mazda
Mazda was removed from the list at index 0.
      Toyota : 1998
       Lexus : 2015
       Dodge : 2004
  Volkswagen : 2015
        Ford : 2009
      Nissan : 2022

## 21-6 ==================

This time, rather than having the user enter the **name** of the car to delete, we'll simply present them a simple menu to choose from. They then enter the corresponding integer. The menu would look like this:

    ***Car Collection***
    [1] 2020 Mazda
    [2] 1998 Toyota
    [3] 2015 Lexus
    [4] 2004 Dodge
    [5] 2015 Volkswagen
    [6] 2009 Ford
    [7] 2022 Nissan
    Which car do you want to delete? 4

Use the del statement to delete the appropriate entries from both lists.

In [24]:
cars = ['Mazda','Toyota','Lexus','Dodge','Volkswagen','Ford','Nissan']
years = [2020,1998,2015,2004,2015,2009,2022]

***Car Collection***
[1] 2020 Mazda
[2] 1998 Toyota
[3] 2015 Lexus
[4] 2004 Dodge
[5] 2015 Volkswagen
[6] 2009 Ford
[7] 2022 Nissan
Which car do you want to delete? 1

Car removed. Resulting collection:

***Car Collection***
[1] 1998 Toyota
[2] 2015 Lexus
[3] 2004 Dodge
[4] 2015 Volkswagen
[5] 2009 Ford
[6] 2022 Nissan

## 21-7 ====================

Write a program that writes 1000 random numbers (range: 1-5000) to a list.

Using the various list functions, output the sum, average, min, max, location of min, and location of max.

Sample output:

    Sum: 2450460
    Avg: 2450.46
    Min: 3 (at index 636)
    Min: 4990 (at index 11)

In [25]:
# write your code here

Sum: 2482653
Avg: 2482.65
Min: 5 (at index 349)
Min: 4997 (at index 28)