# Lab 20: Lists I

## The Basics

#### First, read sections 7.1 through 7.4 of the textbook before proceeding with this lab.

A "sequence" is a structure that acts as a container or storage for some objects. A list is one such sequence/container, and is mutable or changeable. A tuple is another, but is immutable (cannot be changed once it's declared).

Lists use square brackets and commas, such as this list of the numbers 1-5: [1, 2, 3, 4, 5]. A list can hold data of different datatypes, however it's most common to have one data type (we'd use objects to store multiple data types; we'll learn about this later this semester).

You declare your list just like any other variable. Here, the list name is 'values' and it holds those floats: 

    values = [32.95, 44.25, 33.82]

Here's another that holds strings:

    names = ['Jess', 'Juan', 'Jill', 'Jeff']

You can use the repetition operator * with lists. Normally, this operator * is multiplication, but when used with a list, it becomes the list repetition operator. This statement:

    randoms = [45, 62, 84, 23] * 3
    
...will result in the 'randoms' list now being assigned these elements: [45, 62, 84, 23, 45, 62, 84, 23, 45, 62, 84, 23]

#### This is very common in programming

To create a list of a certain size and initialized to all 0's, do this:

    list_a = [0] * SIZE

#### Fun Facts

The spaces that separate the list elements are optional. Many programmers leave them out to compact their code a bit. I usually do, too. 

Python lists are closest to C++ vectors, but actually have more capabilities.

## 20-1 ==================

Create a list named 'days' which contains the days of the week (use 3-letter abbreviations such as 'Mon').

Do a simple print(days) statement to output the list in list notation.

In [1]:
# code in this cell

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

## 20-2 ==================

Create a list named 'months' which contains the twelve months (use 3-letter abbreviations such as 'Jan').

In [2]:
# code in this cell

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

## Lists Can Be Iterated Through

We use a for loop to iterate through a list. Rather than using, say, 'i' in a statement like 'for i in range(5)', we use a variable that's descriptive of the values, if possible. This for loop uses 'day' as the temporary variable. Every time through the loop, 'day' will refer to the next element in the list 'days'. 

Here, rather than using the native print() statement, we want to iterate though the list and use different formatting.

Run the cell below to see how this works.

In [3]:
for day in days:
    print(f'{day} ', end='')

Mon Tue Wed Thu Fri Sat Sun

## 20-3 ==================

Iterate through the 'months' list.

In [4]:
# code in this cell

Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec

## Lists Can Be Accessed Using Index Numbers

We use square brackets and an index number to access individual list elements. Take this list:

    teams = ['Braves','Red Sox','Pirates','Giants']

We can refer to the first element, 'Braves', with this syntax: teams[0].
    
Similarly, the second element in the list, 'Red Sox', is at teams[1].

Why do the elements seem off by one in the count? It's because in programming we start counting at 0. The first list element is list[0], the second is list[1], and so forth. This sometimes challenges introductory programmers who forget about the off-by-one errors possible. Make sure this is clear in your mind: we start counting with 0.

#### While Loop With Indexing

In the cell below, there's an index variable 'i' that we can use as the index subscript. We use a while loop for this example. Run it and experiment with it.

In [5]:
i = 0
while i < 12:
    print(f'{months[i]} ', end='')
    i += 1

Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec

#### For Loop With Indexing

We can also use a for loop with indexing. Remember that this for loop:

    for i in range(12)

...will generate values of 'i' that start with 0 and end at 11 (the 12 is never included). This gives us 12 iterations, and we can use that index variable 'i' as our list index. Run this code:

In [6]:
for i in range(12):
    print(f'{months[i]} ', end='')

Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec

## Lists Can Report Their Length With len()

It will be quite common to have an unknown number of elements in your list. We might think this would pose a problem because we couldn't properly iterate through the list using indexing since we don't know when to end.

Fortunately, a Python list can always return its own length with the len() function. It takes the list name as the argument, and it returns the number of elements currently in the list. Here are some examples:

    print(len(months))      # prints 12
    a = len(months) + 15    # assigns 27 to a
    b = len(days) / 2       # assigns 3.5 to b

## 20-4 ==================

Using a while loop and an index variable, iterate through the months array using the len() function rather than the integer literal '12.

In [7]:
# code in this cell

Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec

## 20-5 ==================

Using a for loop, iterate through the days array using the len() function rather than the integer literal '7'.

In [8]:
# code in this cell

Mon Tue Wed Thu Fri Sat Sun

## List Elements Can Be Changed

'Mutable' means changeable. In this code we have a 'values' list with some integers. The first and second elements are changed. The output lets us visualize the changed elements.

In [9]:
values = [64,24,30,85,94,12]
print('Original values: ', end='')
for val in values:
    print(f'{val } ', end='')
values[0] = 5000
values[1] = -9999
print('\nChanged values: ', end='')
for val in values:
    print(f'{val } ', end='')

Original values: 64 24 30 85 94 12
Changed values: 5000 -9999 30 85 94 12

## Lists Can Be Concatenated

We can join two lists together using the concatenation operator + similar to how we concatenated strings using the same operator. Run the code below for a demonstration.

In [10]:
a = [1,2,3]
b = ['a','b','c']
c = a + b
print(c)

[1, 2, 3, 'a', 'b', 'c']

## Lists Can Be Sliced Up

List slicing means referencing a specific span of a list, a contiguous subset. In square brackets, rather than using an index variable such as 'i' (days[i]), we use the starting and ending index numbers. The first number is the starting index, the second number is the EXCLUSIVE ending index, meaning this number is not included in the results. 

    days[2:4] gives us days[2] (Wed) and days[3] (Thu) (but not days[4] (Fri) since that's the end of the slice)
    months[9:11] gives us Oct, Nov, and Dec

If we omit a number in the syntax, it means either 'beginning' or 'end':

    days[5:] gives us days[5] to the end
    months[:3] gives us the first three months

It's most common to store these extracted slices into other lists:

    days_s = days[2:4]
    months_s = months[9:11]

## 20-6 ==================

Run the cell below to set the 'values' list in memory. Then code successive print statements (just print(list) statements, not a loop) that will return these list slices:

    [85, 94, 12, 42]
    [64, 24, 30]
    [86, 77, 58]

In [11]:
# run this cell first
values = [64,24,30,85,94,12,42,86,77,58]

In [12]:
# write your code in this cell

[85, 94, 12, 42]
[64, 24, 30]
[86, 77, 58]

## Finding List Items with the IN operator

The 'in' operator will return 'True' if a value is found within a list, and 'False' otherwise. Run this code as an example:

In [13]:
if 24 in values:
    print('Found!')
else:
    print('Not found!')

Found!

## 20-7 ==================

Obtain an integer input from the user that represents a search term. Search the 'values' list for that element. Output the results in this format:

    Enter search term: 86
    86 is in the list!

In [14]:
# run this cell first
values = [64,24,30,85,94,12,42,86,77,58]

In [15]:
# write your code in this cell

Enter search term: 64
64 is in the list!

## 20-8 ==================

Write a program that stores daily ticket sales at a movie theater. Create a list of size 7 (use a constant) and initialize it to all 0's. Remember we can do this by: new_list = [0] * SIZE.

Then iterate through the list and perform these tasks: 

- Assign a random integer (range 5000-10000) to the current list element. 
- Keep a running total. 
- Display the sales as you iterate. 

At the end, display the sum and average (use 2 decimal places). Use the 'days' list to obtain the day labels. Sample output:

    Daily sales:
        Mon: 7656
        Tue: 9801
        Wed: 9172
        Thu: 6253
        Fri: 7768
        Sat: 7782
        Sun: 9118
    Sum: 57550
    Avg: 8221.43

In [16]:
# code in this cell

Daily Sales:
	Mon: 6998
	Tue: 5395
	Wed: 9615
	Thu: 8622
	Fri: 9691
	Sat: 6507
	Sun: 9649
Sum: 9649
Avg: 1378.43

## 20-9 ==================

Continue building on your 20-8 code. We will now abstract our functionality and add a new layer: weeks. Update your code. Generate daily totals like before, but we will store the weekly sums into a separate list.

Create a constant for WEEKS and set it to 2.

Create a second empty list, 'week_totals', of size WEEKS.

Use nested for loops. The outer one is for weeks, and runs WEEKS times. The inner one is the same one as before. It's between the two loops that you'll update the week_totals[i] element with 'sum' that was generated by the inner for loop.

Sample output (without my comment arrows, of course):

    Week #1 Sales:
        Mon: 9080
        Tue: 8802
        Wed: 5536
        Thu: 8683
        Fri: 9362
        Sat: 8452
        Sun: 7294
        Total: 57209    <-- note the total is displayed at the end of each week
    Week #2 Sales:
        Mon: 6621
        Tue: 6826
        Wed: 8524
        Thu: 9826
        Fri: 7930
        Sat: 8687
        Sun: 9670
        Total: 115293   <-- here's the other total

    Weekly Totals:
        Week 1: 57209   <-- these are the same totals
        Week 2: 115293  <-- they're just in a different report format

In [17]:
# code in this cell

Week #1 Sales:
	Mon: 9124
	Tue: 6491
	Wed: 5001
	Thu: 8079
	Fri: 7882
	Sat: 7145
	Sun: 9571
	Total: 53293
Week #2 Sales:
	Mon: 6581
	Tue: 8790
	Wed: 7276
	Thu: 7938
	Fri: 6946
	Sat: 5785
	Sun: 7180
	Total: 103789

Weekly Totals:
	Week 1: 53293
	Week 2: 103789

## 20-10 ==================

We have a list of teams and a list of cities, and we want to use that data to create a new list that includes the city name and the team name, such as 'Atlanta Braves' or 'San Francisco Giants'.

Concatenate the elements in this list and store the results in a new list. Output the new list.

    teams = ['Braves','Red Sox','Pirates','Giants']
    cities = ['Atlanta','Boston','Philadephia','San Francisco']

To initialize a list of strings of size SIZE, use new_list = [''] * SIZE

Sample output:

['Atlanta Braves', 'Boston Red Sox', 'Philadephia Pirates', 'San Francisco Giants']

In [18]:
# code in this cell
teams = ['Braves','Red Sox','Pirates','Giants']
cities = ['Atlanta','Boston','Philadephia','San Francisco']

['Atlanta Braves', 'Boston Red Sox', 'Philadephia Pirates', 'San Francisco Giants']